.container {
  height: 50px;
  width: auto;
}
.row {
  display: flex;
}

button {
  border-radius: 1em;
}
#bgColorSequence {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: 3px solid #666;
  border-radius: .5em;
  padding: 8px, 8px;
  cursor: move;
}

.box.over {
  border: 3px dotted #666;
}