.container {
padding: 10px, 5px, 10px, 5px;
border: 20px, 20px;
}

div button {
  display: inline-flex;
  justify-content: flex-start;
}
#bgColorSequence {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  display: inline-block;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: 3px solid #666;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.box.over {
  border: 3px dotted #666;
}